body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #0f662f;
  color: white;
  user-select: none;
}

#bilardoCanvas {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #0f662f;
}

#powerContainer, #directionContainer {
  position: fixed;
  bottom: 20px;
  background: rgba(0,0,0,0.5);
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  user-select: none;
}

#powerContainer {
  right: 20px;
  width: 40px;
  text-align: center;
}

#powerBar {
  position: relative;
  width: 20px;
  height: 150px;
  background: #333;
  margin: 5px auto 10px;
  border-radius: 10px;
  overflow: hidden;
}

#powerIndicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ff0000;
  height: 0%;
  border-radius: 10px 10px 0 0;
  transition: height 0.1s ease-out;
}

#directionContainer {
  left: 20px;
  width: 200px;
}

#directionBar {
  position: relative;
  height: 20px;
  background: #333;
  margin-top: 5px;
  border-radius: 10px;
  overflow: hidden;
}

#directionIndicator {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: #00ff00;
  border-radius: 50%;
  left: 90px; /* ortada başlar */
  transition: left 0.1s ease-out;
}
